{% extends 'master.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block menu %}
{% include 'menu.html' %}
{% endblock %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}




<!-- Content -->


{%block content%}
<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="">
            <div class="shadow p-3 mb-5 bg-white rounded">


                <!-- Show tags messages-->
                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>{{ message.tags }}!</strong> {{message}}

                </div>

                {% endfor %}
                {% endif %}
                <!--End showing Messages-->


               <!-- Add Contacts -->
<form method="post" class="my-class">
    {% csrf_token %}
    {% crispy contact_form %}
    <br>
    <button type="submit" class="btn btn-primary">Add Contact</button>
</form>
<!-- End Contacts -->


            </div>
        </div>
    </div>
</div>
<!-- / Content -->
{% endblock %}



{% block footer %}
{% include 'footer.html' %}
{% endblock %}